{% extends "layout.html" %}

{% block title %}
    Password
{% endblock %}

{% block main %}
    <form action="/password" method="post">
        <div class="mb-6">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="old" name="old" placeholder="Old Password" type="text">
        </div>
        <div class="mb-6">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="new" name="new" placeholder="New Password" type="text">
        </div>
        <div class="mb-6">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="confirm" name="confirm" placeholder="Confirm New Password" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Change Password</button>
    </form>
{% endblock %}
